RESTIC_ENABLED={{ 'true' if minecraft_restic_enabled else 'false' }}
RESTIC_REPOSITORY={{ minecraft_restic_repository | quote }}
RESTIC_PASSWORD={{ minecraft_restic_password | quote }}
RESTIC_KEEP_DAILY={{ minecraft_restic_keep_daily | string | quote }}
RESTIC_KEEP_WEEKLY={{ minecraft_restic_keep_weekly | string | quote }}
RESTIC_KEEP_MONTHLY={{ minecraft_restic_keep_monthly | string | quote }}