EULA=TRUE
TYPE={{ minecraft_type | quote }}
VERSION={{ minecraft_version | quote }}
MEMORY={{ minecraft_memory | quote }}
TZ={{ minecraft_timezone | quote }}
UID={{ minecraft_uid | quote }}
GID={{ minecraft_gid | quote }}
ENABLE_WHITELIST={{ 'TRUE' if minecraft_enable_whitelist else 'FALSE' }}
{% if minecraft_whitelist | length > 0 %}
WHITELIST={{ (minecraft_whitelist | join(',')) | quote }}
{% endif %}
{% if minecraft_ops | length > 0 %}
OPS={{ (minecraft_ops | join(',')) | quote }}
{% endif %}
MOTD={{ minecraft_motd | quote }}
DIFFICULTY={{ minecraft_difficulty | quote }}
MODE={{ minecraft_game_mode | quote }}
LEVEL={{ minecraft_level_name | default('world') | quote }}
MAX_PLAYERS={{ minecraft_max_players | string | quote }}
{% if minecraft_view_distance is defined %}
VIEW_DISTANCE={{ minecraft_view_distance | string | quote }}
{% endif %}
{% if minecraft_simulation_distance is defined %}
SIMULATION_DISTANCE={{ minecraft_simulation_distance | string | quote }}
{% endif %}
{% if minecraft_allow_flight is defined %}
ALLOW_FLIGHT={{ 'TRUE' if minecraft_allow_flight else 'FALSE' }}
{% endif %}
{% if minecraft_keep_inventory is defined %}
KEEP_INVENTORY={{ 'TRUE' if minecraft_keep_inventory else 'FALSE' }}
{% endif %}
{% if minecraft_spawn_protection is defined %}
SPAWN_PROTECTION={{ minecraft_spawn_protection | string | quote }}
{% endif %}
USE_AIKAR_FLAGS={{ 'TRUE' if minecraft_use_aikar_flags else 'FALSE' }}
ENABLE_ROLLING_LOGS=true
CREATE_CONSOLE_IN_PIPE=TRUE
{% if minecraft_paper_plugins | default([]) | length > 0 %}
PLUGINS={{ (minecraft_paper_plugins | join(',')) | quote }}
{% endif %}
{% if minecraft_modrinth_projects | default([]) | length > 0 %}
MODRINTH_PROJECTS={{ (minecraft_modrinth_projects | join(',')) | quote }}
{% endif %}
{% if minecraft_safe_mode | default(false) %}
SAFE_MODE=true
{% endif %}